# Base de données
DB_HOST=localhost
DB_PORT=3306
DB_USER=chatop
DB_PASSWORD=
DB_NAME=chatop_db

# JWT
JWT_SECRET=               # Chaîne aléatoire, 32+ caractères recommandés
JWT_IGNORE_EXPIRE=false   # Passer à true uniquement en développement
